<a href="https://colab.research.google.com/github/Proxxied/MovieRec/blob/main/Using_100K.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!curl http://files.grouplens.org/datasets/movielens/ml-100k.zip -o ml-100k.zip
!pip install scikit-surprise
!pip install recmetrics

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4808k  100 4808k    0     0  10.4M      0 --:--:-- --:--:-- --:--:-- 10.3M
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: recmetrics in /usr/local/lib/python3.7/dist-packages (0.1.5)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (1.0.2)
Requirement already satisfied: seaborn<0.12.0,>=0.11.0 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (0.11.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.3.2 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (3.5.2)
Requirement already satisfied: ipython<8.0.0,>=7.18.1 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (7.33.0)
Requirement already satisfied: jupyter<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (1.0.0)
Requirement already satisfied: plotly<5.0.0,>=4.11.0 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (4.14.3)
Requirement already satisfied: scipy<2.0.0,>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (1.7.3)
Requirement already satisfied: pytest-cov<3.0.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (2.12.1)
Requirement already satisfied: twine<5.0.0,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (4.0.0)
Requirement already satisfied: pandas<2.0.0,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (1.3.5)
Requirement already satisfied: funcsigs<2.0.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from recmetrics) (1.0.2)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (5.1.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (0.1.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (3.0.29)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (0.18.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython<8.0.0,>=7.18.1->recmetrics) (2.6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython<8.0.0,>=7.18.1->recmetrics) (0.8.3)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (5.3.1)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (6.4.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (7.7.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (5.6.1)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (4.10.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter<2.0.0,>=1.0.0->recmetrics) (5.3.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (1.21.6)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (7.1.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (4.33.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.3.2->recmetrics) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib<4.0.0,>=3.3.2->recmetrics) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.1.3->recmetrics) (2022.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython<8.0.0,>=7.18.1->recmetrics) (0.7.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly<5.0.0,>=4.11.0->recmetrics) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly<5.0.0,>=4.11.0->recmetrics) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython<8.0.0,>=7.18.1->recmetrics) (0.2.5)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from pytest-cov<3.0.0,>=2.10.1->recmetrics) (0.10.2)
Requirement already satisfied: coverage>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pytest-cov<3.0.0,>=2.10.1->recmetrics) (6.3.3)
Requirement already satisfied: pytest>=4.6 in /usr/local/lib/python3.7/dist-packages (from pytest-cov<3.0.0,>=2.10.1->recmetrics) (7.1.2)
Requirement already satisfied: importlib-metadata>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (4.11.3)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (1.1.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (1.0.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (21.4.0)
Requirement already satisfied: py>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (2.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest>=4.6->pytest-cov<3.0.0,>=2.10.1->recmetrics) (3.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2.0.0,>=1.0.2->recmetrics) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2.0.0,>=1.0.2->recmetrics) (1.1.0)
Requirement already satisfied: rfc3986>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (2.0.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (1.26.9)
Requirement already satisfied: requests-toolbelt!=0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (0.9.1)
Requirement already satisfied: keyring>=15.1 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (23.5.0)
Requirement already satisfied: readme-renderer>=21.0 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (35.0)
Requirement already satisfied: pkginfo>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (1.8.2)
Requirement already satisfied: rich>=12.0.0 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (12.4.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from twine<5.0.0,>=4.0.0->recmetrics) (2.27.1)
Requirement already satisfied: SecretStorage>=3.2 in /usr/local/lib/python3.7/dist-packages (from keyring>=15.1->twine<5.0.0,>=4.0.0->recmetrics) (3.3.2)
Requirement already satisfied: jeepney>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from keyring>=15.1->twine<5.0.0,>=4.0.0->recmetrics) (0.8.0)
Requirement already satisfied: bleach>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from readme-renderer>=21.0->twine<5.0.0,>=4.0.0->recmetrics) (5.0.0)
Requirement already satisfied: docutils>=0.13.1 in /usr/local/lib/python3.7/dist-packages (from readme-renderer>=21.0->twine<5.0.0,>=4.0.0->recmetrics) (0.17.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach>=2.1.0->readme-renderer>=21.0->twine<5.0.0,>=4.0.0->recmetrics) (0.5.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->twine<5.0.0,>=4.0.0->recmetrics) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->twine<5.0.0,>=4.0.0->recmetrics) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->twine<5.0.0,>=4.0.0->recmetrics) (2.0.12)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from rich>=12.0.0->twine<5.0.0,>=4.0.0->recmetrics) (0.9.1)
Requirement already satisfied: cryptography>=2.0 in /usr/local/lib/python3.7/dist-packages (from SecretStorage>=3.2->keyring>=15.1->twine<5.0.0,>=4.0.0->recmetrics) (37.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.0->SecretStorage>=3.2->keyring>=15.1->twine<5.0.0,>=4.0.0->recmetrics) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.0->SecretStorage>=3.2->keyring>=15.1->twine<5.0.0,>=4.0.0->recmetrics) (2.21)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->recmetrics) (6.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->recmetrics) (7.3.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (3.6.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (5.4.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (1.1.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (2.15.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (4.10.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (4.3.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (5.7.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter<2.0.0,>=1.0.0->recmetrics) (0.18.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->recmetrics) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->recmetrics) (0.13.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->recmetrics) (2.11.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter<2.0.0,>=1.0.0->recmetrics) (0.4)
Requirement already satisfied: nest-asyncio>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter<2.0.0,>=1.0.0->recmetrics) (1.5.5)
Requirement already satisfied: pyzmq>=22.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter<2.0.0,>=1.0.0->recmetrics) (22.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter<2.0.0,>=1.0.0->recmetrics) (2.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->recmetrics) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->recmetrics) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->recmetrics) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->recmetrics) (1.5.0)
Requirement already satisfied: qtpy>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter<2.0.0,>=1.0.0->recmetrics) (2.1.0)

In [2]:
import zipfile
with zipfile.ZipFile('ml-100k.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

In [3]:
import pandas as pd
import numpy as np

r1cols = ['user_id', 'movie_id', 'rating', 'timestamp']
r2cols = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama',  'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

moviesdf = pd.read_csv('data/ml-100k/u.item', sep='|' , names=r2cols, encoding='latin-1')
ratingsdf = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r1cols, encoding='latin-1')
ratingsbase = pd.read_csv('data/ml-100k/u1.base', sep='\t', names=r1cols, encoding='latin-1')
ratingstest = pd.read_csv('data/ml-100k/u1.test', sep='\t', names=r1cols, encoding='latin-1')

In [4]:
#TRAIN
totuserbase = ratingsbase['user_id'].unique().max()
totmoviebase = ratingsbase['movie_id'].unique().max()
totuserbase, totmoviebase
totusertest = ratingstest['user_id'].unique().max()
totmovietest = ratingstest['movie_id'].unique().max()
totusertest, totmovietest

trainmat = np.zeros((totuserbase, totmoviebase))
for line in ratingsbase.itertuples():
  trainmat [line[1]-1,line[2]-1] = line[3]
  testmat = np.zeros((totusertest, totmovietest))
for line in ratingstest.itertuples():
   testmat[line[1]-1,line[2]-1] = line[3]

In [5]:
#TRAIN
import matplotlib.pyplot as plt
from surprise import SVD, Dataset, Reader
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(ratingsdf[['user_id', 'movie_id', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=0.20)
algo = SVD()
algo.fit(trainset)

test = algo.test(testset)
test = pd.DataFrame(test)
test.drop("details", inplace=True, axis=1)
test.columns = ['user_id', 'movie_id', 'true', 'preds']
test.head(10)

   user_id  movie_id  true     preds
0      280       586   4.0  2.542399
1      619        50   4.0  4.399237
2      605      1040   2.0  2.516849
3      877       463   4.0  3.897850
4      899       655   4.0  3.531560
5      761         7   4.0  3.020400
6      716       655   4.0  3.937695
7      542       265   4.0  3.583466
8      391       491   3.0  3.612618
9      604       185   2.0  3.670699

USER-BASED COLLABORATIVE FILTERING

In [6]:
from sklearn.metrics.pairwise import pairwise_distances
import math

#USER-BASED COLLABORATIVE FILTERING

usersim = pairwise_distances(trainmat, metric='cosine')
print('shape: ', usersim.shape)

shape:  (943, 943)

In [7]:
def predictuser(trainmat, usersim, n_sim = 50):
    
    sim_n = usersim.argsort()[:,-n_sim:][:,::-1]
    preds = np.zeros((totuserbase,totmoviebase))
    
    for i,users in enumerate(sim_n):
        simuser = users
        sim_n = usersim[i,simuser]
        matrixn = trainmat[simuser,:]
        ratedmovies = sim_n[:,np.newaxis].T.dot(matrixn - matrixn.mean(axis=1)[:,np.newaxis])/ sim_n.sum()
        preds[i,:]  = ratedmovies
        
    return preds

In [8]:
predictions = predictuser(trainmat,usersim, 50) + trainmat.mean(axis=1)[:, np.newaxis]
print('predictions shape ',predictions.shape)

predictions

predictions shape  (943, 1682)

array([[ 0.25719463,  0.25719463,  0.25719463, ...,  0.25719463,
         0.25719463,  0.25719463],
       [ 0.37279746,  0.05657032, -0.02277058, ..., -0.02277058,
        -0.02277058, -0.02277058],
       [ 0.8756956 ,  0.0156956 ,  0.0156956 , ..., -0.0443044 ,
        -0.0443044 , -0.0443044 ],
       ...,
       [-0.00687779,  0.0531826 , -0.00687779, ..., -0.00687779,
        -0.00687779, -0.00687779],
       [ 1.10227848,  0.14145999,  0.25983283, ...,  0.14145999,
         0.14145999,  0.14145999],
       [ 0.28416171,  0.28416171,  0.28416171, ...,  0.28416171,
         0.28416171,  0.28416171]])

In [9]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import recall_score

predictedratings = predictions[testmat.nonzero()]
testtrue = testmat[testmat.nonzero()]

#RMSE TEST

print('\nRMSE: {} \n'.format(math.sqrt(mean_squared_error(predictedratings,testtrue))))

#RECALL TEST
y_true = np.int64(testtrue)
y_pred = np.int64(test.preds)
print('\nRECALL: {} \n'.format(recall_score(y_true, y_pred, average=None)))

RMSE: 3.445305491245221


RECALL: [0.         0.01869159 0.16149635 0.55113856 0.24431986 0.00358986]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [10]:
movie_id = 1
userratings = predictions[movie_id-1,:]
trainunknown = np.where(trainmat[movie_id-1,:] == 0)[0]
trainunknown
rec = userratings[trainunknown]
rec.shape

print('\nMovie {} other similar movies are: \n'.format(movie_id))

for movie_id in rec.argsort()[-5:][: : -1]:
    print(movie_id +1)

Movie 1 other similar movies are:

165
153
178
151
129

ITEM-BASED COLLABORATIVE FILTERING

In [11]:
moviesim = pairwise_distances(trainmat.T, metric = 'cosine')
moviesim

array([[0.        , 0.64235362, 0.69061028, ..., 1.        , 0.94896481,
        0.94896481],
       [0.64235362, 0.        , 0.77839991, ..., 1.        , 0.91221914,
        0.91221914],
       [0.69061028, 0.77839991, 0.        , ..., 1.        , 1.        ,
        0.89333228],
       ...,
       [1.        , 1.        , 1.        , ..., 0.        , 1.        ,
        1.        ],
       [0.94896481, 0.91221914, 1.        , ..., 1.        , 0.        ,
        1.        ],
       [0.94896481, 0.91221914, 0.89333228, ..., 1.        , 1.        ,
        0.        ]])

In [12]:
def predictmovies(trainmat, moviesim, n_sim=30):
    
    sim_n = moviesim.argsort()[:,-n_sim:][:,::-1]
    print('sim_n shape: ', sim_n.shape)
    preds = np.zeros((totuserbase,totmoviebase))
    
    
    for i,movie in enumerate(sim_n):
        simmovies = movie
        sim_n = moviesim[i,simmovies]
        matrix_n = trainmat[:,simmovies]
        ratedmovies = matrix_n.dot(sim_n)/sim_n.sum()
        preds[:,i]  = ratedmovies
        
    return preds

In [13]:
predictions = predictmovies(trainmat,moviesim,50)
print('predictions shape ', predictions.shape)
predictions

sim_n shape:  (1682, 50)
predictions shape  (943, 1682)

array([[0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.24],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       ...,
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.26, 0.08, 0.18],
       [0.  , 0.  , 0.06, ..., 0.46, 0.32, 0.14]])

In [14]:
predictedratings = predictions[testmat.nonzero()]
testtrue = testmat[testmat.nonzero()]

#RMSE TEST

print('\nRMSE: {} \n'.format(math.sqrt(mean_squared_error(predictedratings,testtrue))))

#RECALL TEST
y_true = np.int64(testtrue)
y_pred = np.int64(test.preds)
print('\nRECALL: {} \n'.format(recall_score(y_true, y_pred, average=None)))

RMSE: 3.6988157672422672


RECALL: [0.         0.01869159 0.16149635 0.55113856 0.24431986 0.00358986]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
user_id = 69
userratings = predictions[user_id-1,:]
trainunknown = np.where(trainmat[user_id-1,:] == 0)[0]
trainunknown
rec = userratings[trainunknown]
rec.shape

print('\nUser {} recommendations are: \n'.format(user_id))

for movie_id in rec.argsort()[-5:][: : -1]:
    print(movie_id +1)

User 69 recommendations are:

1411
1019
1211
758
961

CONTENT-BASED FILTERING

In [16]:
contentdf=moviesdf[['movie_title','release_date']]
contentdf.head()

         movie_title release_date
0   Toy Story (1995)  01-Jan-1995
1   GoldenEye (1995)  01-Jan-1995
2  Four Rooms (1995)  01-Jan-1995
3  Get Shorty (1995)  01-Jan-1995
4     Copycat (1995)  01-Jan-1995

In [17]:
contentdf.reset_index(inplace=True)
contentdf.head()

   index        movie_title release_date
0      0   Toy Story (1995)  01-Jan-1995
1      1   GoldenEye (1995)  01-Jan-1995
2      2  Four Rooms (1995)  01-Jan-1995
3      3  Get Shorty (1995)  01-Jan-1995
4      4     Copycat (1995)  01-Jan-1995

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tf=TfidfVectorizer(stop_words='english')
tf_mat=tf.fit_transform(contentdf['movie_title'].fillna(''))
cosinesim = cosine_similarity(tf_mat)

#IDENTIFY MOVIE ID HERE:
contentdf[contentdf['movie_title']=='Toy Story (1995)']

   index       movie_title release_date
0      0  Toy Story (1995)  01-Jan-1995

In [19]:
#USE MOVIE ID TO CHANGE COSINE SIM NUM:
sim=cosinesim[0].tolist()
ind=[]
val=[]
for i in range(len(sim)):
    ind.append(i)
    val.append(sim[i])
    dic={'index':ind,'value':val}
rec_df=pd.DataFrame(dic) 
rec=rec_df.merge(contentdf,on='index')
rec.head()

   index     value        movie_title release_date
0      0  1.000000   Toy Story (1995)  01-Jan-1995
1      1  0.088473   GoldenEye (1995)  01-Jan-1995
2      2  0.092783  Four Rooms (1995)  01-Jan-1995
3      3  0.088473  Get Shorty (1995)  01-Jan-1995
4      4  0.088473     Copycat (1995)  01-Jan-1995

In [20]:
print(rec.sort_values(by='value',ascending=False).head(50)['movie_title'])

0                                        Toy Story (1995)
1071                    Pyromaniac's Love Story, A (1995)
1343                         Story of Xinghua, The (1993)
477                        Philadelphia Story, The (1940)
547                     NeverEnding Story III, The (1994)
307                        FairyTale: A True Story (1997)
1546                                     Show, The (1995)
1589                               To Have, or Not (1995)
1052                                  Now and Then (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
598     Police Story 4: Project S (Chao ji ji hua) (1993)
722                               Boys on the Side (1995)
938                            Murder in the First (1995)
1519                                     Fear, The (1995)
555                                      Wild Bill (1995)
1146                                     My Family (1995)
714                                     To Die For (1995)
1598                        Someone Else's America (1995)
1626                                     Wife, The (1995)
1085                                 It's My Party (1995)
1676                                 Sweet Nothing (1995)
1543                                  It Takes Two (1995)
774                        Something to Talk About (1995)
1437                                       Panther (1995)
773                                  Prophecy, The (1995)
771                                           Kids (1995)
1467                                     Cure, The (1995)
1662                              Nothing Personal (1995)
719                                   First Knight (1995)
1130                                          Safe (1995)
460                                          Smoke (1995)
593                                          Heavy (1995)
1217                                        Friday (1995)
1656                                        Target (1995)
273                                        Sabrina (1995)
2                                       Four Rooms (1995)
921                                       Dead Man (1995)
768                                          Congo (1995)
1395                                     Stonewall (1995)
693                                     Persuasion (1995)
954                                 Before Sunrise (1995)
692                                         Casino (1995)
953                                       Unzipped (1995)
767                                         Casper (1995)
1086                                  Bloodsport 2 (1995)
1407                                         Gordy (1995)
766                                 Addiction, The (1995)
21                                      Braveheart (1995)
949                                        Georgia (1995)
1494                                         Flirt (1995)
Name: movie_title, dtype: object

In [21]:
#IMPORT FOR VISUALISATIONS - IGNORE
import pandas as pd
df = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r1cols, encoding='latin-1')
df.to_excel("ratings.xlsx")  

df1 = pd.read_csv('data/ml-100k/u.item', sep='|' , names=r2cols, encoding='latin-1')
df1.to_excel("movies.xlsx")  

r3cols = ['genre', 'quantity']

df2 = pd.read_csv('data/ml-100k/u.genre', sep='|', names=r3cols, encoding='latin-1')
df2.to_excel("genres.xlsx")  
#df2.head()